<ion-header>
  <ion-toolbar>
    <ion-title>{{ subgroup.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item [appHideIfUnauthorized]="authService.user.role" >
    <ion-input type="text" placeholder="Member Email" [formControl]="memberEmail"></ion-input>
    <ion-button shape="round" slot="end" (click)="addMember()">
      <ion-icon slot="icon-only" name="add-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <hr>
  <ion-label>Created By: {{ subgroup.createdBy }}</ion-label>
  <hr>
  <ion-title>Members</ion-title>
  <ion-list *ngIf="subgroup.members">
    <ion-item *ngFor="let member of subgroup.members">
      <ion-label>{{ member.email }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-title>Members Not Yet Joined</ion-title>
  <ion-list *ngIf="subgroup.membersToBe">
    <ion-item *ngFor="let member of subgroup.membersToBe">
      <ion-label>{{ member }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content> 