<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="container">
    <img src="assets/logo.png">
    <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
      <input type="email" formControlName="email" placeholder="Email" />
      <input type="password" formControlName="password" placeholder="Password" />
      <button class="action" expand="full" type="submit" [disabled]="!credentialsForm.valid">
        {{ isLoginMode ? 'Log In' : 'Sign Up' }}
      </button>
      <button class="switch" expand="full" type="button" (click)="switchMode()">
        {{ isLoginMode ? 'Sign Up' : 'Log In' }}
      </button>
    </form>
    <p>Login With Google</p>
  </div>
</ion-content>