<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ group.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>Created By: {{ group.createdBy }}</ion-label>
  <hr>
  <ion-item [appHideIfUnauthorized]="authService.user.role" >
    <ion-input type="text" placeholder="Group Name" [formControl]="groupName"></ion-input>
    <ion-button shape="round" slot="end" (click)="createSubgroup()">
      <ion-icon slot="icon-only" name="add-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <hr>
  <ion-title>Groups</ion-title>
  <ion-list *ngIf="group.subgroups">
    <ion-item (click)="onSubgroupClick(subgroup._id)" *ngFor="let subgroup of group.subgroups">
      <ion-label>{{ subgroup.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
